@import url("/shared/styles/site/common.css");
@import url("/shared/styles/layout/layout_flex.css");
@import url("/shared/styles/themes/theme_cloud.css");

/* Shaarli-specific alterations */

#pageheader #linkcount { color: #333366; }

.linktitle a:hover { color:#6579F0; }

li.private .linktitle a { color:#003344; }
li.private .linktitle a:visited { color:#006633; }

#linklist li {
    border: solid 1px navy;
    width: 45%;
    display: inline-block;
}
#linklist li .linkeditbuttons {
    position: relative;
    margin-left: -30px;
    float: left;
}

#navbar li a {
font-size: 10pt;
line-height: 130%;
color: navy;
}
#navbar li a:visited {
color: #660066;
}

#pageheader {
padding-top: 5px;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#aaaaf2), to(#111144));
background: -webkit-linear-gradient(#aaaaf2, #111144);
background: -moz-linear-gradient(#aaaaf2, #111144);
background: -ms-linear-gradient(#aaaaf2, #111144);
background: -o-linear-gradient(#aaaaf2, #111144);
background: linear-gradient(#aaaaf2, #111144);
}

#pageheader #logo {
    float: right;
}
#pageheader #kslogo {
    float: left;
}

div#footer {
    max-width: 70em;
    margin-left: auto;
    margin-right: auto;
}
